body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    /* background-image: url("./work-day-scheduler/public/beach.jpg");
    background-repeat: no-repeat;
      background-position: top;
      background-attachment: fixed;
      background-size: cover; */
    font-family: 'Lobster', cursive;
}

